@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}

/* Style for the navigation bar */
.navbar {
    background-color: #302f2f;
    overflow: hidden;
}

/* Style for the navbar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

/* Change the color of navbar links when you hover over them */
.navbar a:hover {
    background-color: #ddd;
    color: rgb(44, 40, 40);
}
h5{
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color: rgb(81, 81, 81);
    color: azure;
    margin-top: 450px;
} 
h2{
    text-align: center;
    color: darkblue;



}


/* Style for the search bar container */
 .search-container {
    display: flex;
    align-items: center;
    width: 300px;
    justify-self: center;
    margin-left:40%;
    margin-top: 5%;
    padding: 0;
    
}

/* Style for the search bar input */
 .search-bar {
    flex: 1;
    padding: 10px;
    border: 1px solid #2f2929;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.search-button {
    background-color: #007bff;
    color: #000000;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    
}
.search-bar .search-button:hover{
    background-color: #1a1d1f;
}


/* Style for the search result box */
 .search-results {
    width: 300px;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Hide by default */
}
.con{
    height:300px;
    width:300px;
    margin-left:40%;
    margin-top: 0;
    padding: 0;
    border: 2px solid black;
    border-radius: 2%;
    background-color: #3f3b3b;
    align-items: center;
    justify-content: center;
   
}
h3{
    text-align: center;
    color: rgb(135, 131, 127);
}
.top{
    width:100%;
    height:20%;
    background-color: rgb(57, 50, 50);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    padding:2rem 0;
    font-size: 1rem;
    font-weight: 800;
    color: white;
}
.main{
    width:100%;
    height:80%;
    display: flex;
    flex-direction: column;
    background-color: rgba(83, 79, 79, 0.932);
}
.main #city{
    padding: 2rem 0;
    color: rgb(211, 199, 199);
    font-size: larger;
    text-align: center;
}
.main .middle{
    display: flex;
    justify-content: space-around;
    color:rgb(255, 255, 255);
    

}
.main .middle p{
    font-size: 3rem;
    font-weight: 800;
    
}
